 /* Bordered form */
 
  form {
  border: 3px solid #f1f1f1;
  
  margin-right: 25%;
  margin-left: 25%;
  }

  /* Full-width inputs */
  input[type=text], input[type=password] ,input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
  opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  .cancelbtn {
  color: #fff;
  width: auto;
  padding: 10px 18px;
  background-color: #b6b6b6;
  }



  

  /* Add padding to containers */
  .container {
  padding: 16px;
  }

  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
  
  .cancelbtn {
      width: 100%;
  }
  }


