body{
    background-color: #e7e7e7;
    
}
.contPutih{
    min-height:43em;

}
.cont1{
    margin-right: 25%;
    margin-left: 25%;
    

}

.form-control:focus {
    box-shadow: none;
  }
.cardh{
    height: 12em;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    
}
.polaroid{
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnradius{
    border-radius: 120px;
}
img {max-width: 100%;
    max-height: 100%;
    }
.tulisandalem{
    
    text-align: center;
    padding: 10px 20px;
    
}
