.image--cover1 {
    width: 300px;
    height: 300px;
    border-radius: 5%;
  
    object-fit: cover;
    object-position: center ;
  }

  .min1{
    min-height: 19em;
  }

  .image--cover2 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  
    object-fit: cover;
    object-position: center right;
  }

  .min1{
    min-height: 19em;
  }